<mj-spacer height="10px" />
<mj-section background-color="#FFFFFF" padding="20px 0px">
	<mj-column width="100%" vertical-align="middle">
		<mj-text font-family="Open Sans, Helvetica, Arial" padding="10px 20px" color="#4959BB" font-size="14px" font-weight="500">
			Votre envoi a été livré!
		</mj-text>
		<mj-text font-family="Open Sans, Helvetica, Arial" padding="10px 20px" font-size="14px" font-weight="300">
			Bonjour {Name_FR},<br />
		</mj-text>
		<mj-text font-family="Open Sans, Helvetica, Arial" padding="10px 20px" font-size="14px" font-weight="300">
			À la demande de {Nomdudemandeur} {Courrieldudemandeur}, le présent message confirme que l’envoi ou les envois ont été livrés. Nous sommes impatients d’effectuer d’autres livraisons pour vous dans un proche avenir!
		</mj-text>
		<mj-text font-family="Open Sans, Helvetica, Arial" padding="10px 20px" font-size="14px" font-weight="300">
			{Body_FR}
		</mj-text>
		<mj-text font-family="Open Sans, Helvetica, Arial" padding="10px 20px" font-size="12px" font-weight="300">
			Le présent courriel a été envoyé de notre boîte de réception automatisée. Veuillez ne pas répondre.
		</mj-text>
	</mj-column>
</mj-section>
