<mj-spacer height="10px" />
<mj-section background-color="#FFFFFF" padding="0px">
	<mj-column width="100%" vertical-align="middle">
		<mj-text font-family="Open Sans, Helvetica, Arial" padding-bottom="0px" padding-top="25px" font-size="14px">
			Tracking Status:
		</mj-text>
	</mj-column>
</mj-section>
<mj-section background-color="#FFFFFF" padding="0px">
	<mj-column width="100%" vertical-align="middle">
		<mj-image padding="25px" src="http://preview.publicis.ca/Purolator/PUR188000/img/status_created_en.jpg" alt="Purolator"></mj-image>
	</mj-column>
</mj-section>
